* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    overflow: hidden;
}

#achi-container {
    width: 70%;
    height: 100vh;
    width: 70%;
    background: linear-gradient(to bottom right,
            rgb(255, 255, 255) 0%,
            rgb(245, 240, 254) 30%,
            rgb(236, 228, 253) 65%,
            rgb(229, 220, 252) 100%);
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 10px 20px;
    overflow-y: auto;
    flex-grow: 1;
}

#achi-container::-webkit-scrollbar {
    width: 5px;
}

#achi-container::-webkit-scrollbar-thumb {
    background-color: rgb(185, 172, 246);
    border-radius: 3rem;
}
#page-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


#detail-container {
    margin-top: 20px;
}

#answer-heading {
    color: grey;
    font-size: 0.75rem;
    margin-top: 5px;
}


#achi-cards-container {
    margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   flex-wrap: wrap;
   gap: 10px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding:15px 0;
    overflow: hidden;
    width:100%;
}
.card{
    background-color: rgba(255, 255, 255, 0.742);
    border:1px solid grey;
    width:150px;
    height: 220px;
    border-radius: 1rem;
    transition: 1s ease;
}
.card:hover{
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: 60%;
    border-radius: 1rem 1rem 0 0;
}
.card h5 {
    font-weight: bolder;
    font-size: 0.75rem;
    background:linear-gradient(
        90deg,
        #5B21B6,
        #8B5CF6,
        #C084FC
    );
    color:white;
    text-align: center;
    margin: 3px;
    border-radius: 1rem;
    padding:5px;
}
.card-text{
padding:0px 10px;
font-size: 0.55rem;
}