* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    overflow: hidden;
}

#dashboard-container {
    color: black;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 70%;
    background: linear-gradient(to bottom right,
            rgb(255, 255, 255) 0%,
            rgb(245, 240, 254) 30%,
            rgb(236, 228, 253) 65%,
            rgb(229, 220, 252) 100%);
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 10px 20px;
    flex-grow: 1;
    padding-bottom: 90px;
}

#dashboard-container::-webkit-scrollbar {
    width: 5px;
}

#dashboard-container::-webkit-scrollbar-thumb {
    background-color: rgb(185, 172, 246);
    border-radius: 3rem;
}

#page-info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


#account-info-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    max-width: 120%;
}

#account-info-container h5 {
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}



#welcome-container {
    margin-top: 20px;
}

#compliment-heading {
    color: grey;
    font-size: 0.5rem;
    margin-top: 5px;
}

#main-overview {
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* total circle */
#overall-progress-facts {
    height: 100%;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    width: 100%;
    background: linear-gradient(135deg,
            #FCFBFF 0%,
            #F5F0FF 45%,
            #EEE6FF 100%);
    border-radius: 0.5rem;
    color: white;
    display: grid;
    padding: 5px;
    padding-left: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    color: black;
    font-family: "Poppins";
}

#overall-progress-facts div {
    grid-column: 1 span;
    grid-row: 2/span 3;
}

#overall-progress-facts footer {
    background-color: rgb(234, 206, 247);
    border-radius: 0.5rem;
}

#overall-progress-facts nav,
#overall-progress-facts footer {
    grid-column: 2 span;
    grid-row: 1 span;
    display: flex;
    align-items: center;
    gap: 5px;
}

#circle-control {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 25px rgba(124, 58, 237, 0.2);
    border: #8306f8 14px solid;
}

#circle-control div {
    width: 100%;
    text-align: center;
    color: #8407f8;
    text-shadow: 0 0 12px rgba(168, 85, 247, 0.35);
    font-size: 0.75rem;

}

#total-progress-no {
    font-size: 3rem;
    font-weight: 600;

}


#overall-progress-facts ul {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: circle;
}

#overall-progress-facts ul span {
    color: #8407f8;
    text-shadow: 0 0 12px rgba(168, 85, 247, 0.35);
    font-weight: bolder;
}


/* study container */

#overall-progress-visuals {
    height: 100%;
    background: linear-gradient(135deg, #A855F7 0%, #7C3AED 55%, #5B21B6 100%);
    border-radius: 0.5rem;
    padding: 5px;
    color: white;
    font-weight: bolder;
    position: relative;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    font-family: "Poppins";
    gap: 5px;
}

#overall-progress-visuals nav {
    grid-column: 2 span;
    grid-row: 1 span;
    display: flex;
    align-items: center;
    gap: 5px;
}

#overall-progress-visuals div {
    grid-column: 1/2 span;
    grid-row: 2/ 2 span;
    display: flex;
    align-items: center;
    justify-content: center;
}

#study-time {
    font-size: 3rem;
}

#overall-progress-visuals span {
    width: 70%;
    height: 100px;
    grid-column: 1 span;
    margin: 5px auto;
    grid-row: 4/2 span;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1rem;
    background: rgba(224, 224, 224, 0.203);
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(109, 40, 217, 0.25);
    border: 1px solid rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    padding-top: 10px;
}

#overall-progress-visuals span div {
    width: 100%;
    height: 40%;
}

#sec-no,
#min-no {
    font-size: 3rem;
}

.tech-slider {
    width:95% ;
    overflow: hidden;
    padding: 12px 0;
    background: #d59fff;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .08);
     margin: 10px
}

.tech-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
   ;
}

.tech-slider:hover .tech-track {
    animation-play-state: paused;
}

.tech {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 12px;
    padding: 10px 18px;
    background: rgba(225, 59, 59, 0.06);
    color: #fff;
    border-radius: 30px;
    font-size: 1rem;
    white-space: nowrap;
    transition: .3s;
}

.tech:hover {
    transform: translateY(-3px);
    background: #8103f8;
}

.tech i {
    font-size: 1.3rem;
}

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #1572b6;
}

.fa-js {
    color: #f7df1e;
}

.fa-react {
    color: #61dafb;
}

.fa-node-js {
    color: #3c873a;
}

.fa-server {
    color: #7c3aed;
}

.fa-database {
    color: #4caf50;
}

.fa-table {
    color: #00bcd4;
}

.fa-git-alt {
    color: #f1502f;
}

.fa-github {
    color: #fff;
}

.fa-bootstrap {
    color: #7952b3;
}

.fa-npm {
    color: #cb3837;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

#small-overview {
    padding: 10px;
    margin-top: 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}



.small-card {
    max-height: 200px;
    max-width: 170px;
    min-width: 140px;
    padding: 10px;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

}

.card-main-heading {
    font-size: 0.75rem;
    color: grey;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card-small-heading {
    font-size: 1rem;
    color: grey;

}

.symbol {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.small-card-fact {
    font-size: 2rem;
    margin-top: 20px;
    font-weight: bold;

}

.badge {
    border-radius: 0.25rem;
    border: 1px solid lightgray;
    width: 30px;
    height: 33px;
    font-size: 0.75rem;
    margin: 0px 5px;

}

.badge:hover {
    background-color: lightgray;
}

#daily-goal div {
    align-items: center;
    display: flex;
}

#quiz-attempt div {
    align-items: center;
    display: flex;
}

#progress-motivation {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin: 10px;
    margin-bottom: 40px;
}

#progress-overview {
    background-color: white;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    overflow-x: auto;
    gap: 35px;
    padding-top: 10px;
    overflow-y: hidden;
    display: flex;
    align-items: end;
    grid-row: 2/span 4;
    grid-column: 1 span;

}

#progress-overview::-webkit-scrollbar {
    width: 5px;
    height: 15px;
}

#progress-overview::-webkit-scrollbar-track {
    width: 5px;
}

#progress-overview::-webkit-scrollbar-thumb {
    background-color: rgb(185, 172, 246);
}

#progress-overview-heading {
    grid-row: 1/span 1;
    grid-column: 1 span;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: white;
    width: 100%;
    color: #874de3;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Poppins";

}

#progress-no {
    padding: 5px 0px 5px 10px;
    width: 40px;
    height: 100%;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    left: 0px;
    background-color: white;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    height: 8%;
    min-width: 30px;
    background: linear-gradient(-290deg, #A855F7 0%, #7C3AED 55%, #5B21B6 100%);
    font-size: 0.5rem;
    border-radius: 1rem 1rem 0 0;
}


#motivation-quote {
    padding: 30px;
    border-radius: 0.75rem;
    color: white;
    background-image: url('./assets/dashboard/quote-bg.png');
    background-size: cover;
    border: 1px solid lightgrey;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0px 3px;
}


@media(max-width:1000px) {
    #progress-motivation {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
    }

    #progress-overview-heading {
        grid-row: 1/span 1;
        grid-column: 1 span;
    }

    #progress-overview {
        grid-row: 2/span 4;
        grid-column: 1 span;
    }

    #motivation-quote {
        margin: 10px auto;
        grid-row: 6/span 5;
        grid-column: 1 span;
    }

    #main-overview {
        grid-template-columns: 1fr;
        margin: 10px 10px;
    }
}