* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* side nav bar */

#nav-bar {
    width: 200px;
    padding: 20px 10px 0px 10px;
    height: 100vh;
    border-radius: 0.5rem;
    background-image: url('./assets/nav-bar/nav-bar-bg.png');
    backdrop-filter: blur(10px);
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#main-heading {
    font-size: 1rem;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

#main-container img {
    width: 2rem;
    margin-right: 5px;
}

#dashboard-item-container {
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 30px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}

#dashboard-item-container li {
    border-radius: 0.75rem;
    height: 40px;
    padding-left: 5px;
    margin: 0px 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid rgb(92, 62, 240);

}

.dashboard-item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-weight: lighter;
    font-size: 0.75rem;
    cursor: pointer;
}

#dashboard-item-container li:hover {
    background-color: #1D1A57;
    transform: scale(1.01);
    box-shadow: 10px;
    backdrop-filter: blur(10px);
}



.dashboard-item a {
    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;
    height: 100%;
    width: 100%;
    align-items: center;
}

.dashboard-item i {
    font-size: 1rem;
}

/* END side nav bar */

/* bottom nav var */
#bottom-nav-bar {
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 10;
    height: 80px;
    width: 100%;
    overflow: hidden;
}

#bottom-dashboard-item-container {
    width: 100%;
    height: inherit;
    background-image: url("./assets/nav-bar/bottom-nav-bg.png");
    background-size: contain;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
}

.bottom-dashboard-item {
    min-width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px;
    border: 1px solid rgb(92, 62, 240);
    border-radius: 1rem;
}

.bottom-dashboard-item a {
    color: white;
    text-decoration: none;
}

.bottom-dashboard-item a i {
    margin: 0px 3px;
}

#bottom-dashboard-item-container li:hover {
    background-color: #1D1A57;
    transform: scale(1.01);
    box-shadow: 10px;
    backdrop-filter: blur(10px);
}




@media(max-width:650px) {
    #bottom-nav-bar {
        display: block;
    }

    #nav-bar {
        display: none;
    }
}